body {
    background-color: #444444;
}

.top{
    padding: 0;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

li a {
    display: inline-block;
    color: pink;
    padding:2px 20px;
    text-decoration: none;
    font: 15px Helvetica, sans-serif;
}

.mainbody {
    width: 880px;
    background-color: white;
    float: center;
}

.sideMenu {
    width: 100px;
    background-color: pink;
    float: left;
}

.Layout_contents {
    width: 100%;
    background-color: #1e1e1e;
    float: left;
    padding-bottom: 80px;
}

.flex_container {
    display: flex;
    justify-content: left;
}

.flex_child {
    flex: 3;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.flex_sideMenu {
    flex: 1;
    margin-right: 5px;
}

p {
    font: 15px Helvetica, sans-serif;
}

h2 {
    font: 25px Helvetica, sans-serif;
}
